$diaCargado: #28a745;
$diaNoCargado: #ffc107;
$error: #dc3545;

@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.calendar {
  @include mat.datepicker-overrides((
    calendar-date-selected-state-text-color: black,
    calendar-date-selected-state-background-color: #ccc,
  ));
}

::ng-deep .mat-calendar-body-cell.diaCargado::before {
  content:"";
  display: absolute;
  background-color: $diaCargado;
  border: 2px solid #eee;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 0;
  left: 25px;
  z-index: 10;
}

::ng-deep .mat-calendar-body-cell.diaNoCargado::before {
  content:"";
  display: absolute;
  background-color: $diaNoCargado;
  border: 2px solid #eee;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  top: 0;
  left: 25px;
  z-index: 10;
}