<mat-tab-group animationDuration="0ms">
  <mat-tab label="8:00 - 9:00">  <app-profesores-lista [ordua]="'1'" [profesores]="profesores"/> </mat-tab>
  <mat-tab label="9:00 - 10:00"> <app-profesores-lista [ordua]="'2'" [profesores]="profesores"/>  </mat-tab>
  <mat-tab label="10:00 - 11:00"> <app-profesores-lista [ordua]="'3'" [profesores]="profesores"/> </mat-tab>
  <mat-tab label="11:30 - 12:30"> <app-profesores-lista [ordua]="'4'" [profesores]="profesores"/> </mat-tab>
  <mat-tab label="12:30 - 13:30"> <app-profesores-lista [ordua]="'5'" [profesores]="profesores"/> </mat-tab>
  <mat-tab label="13:30 - 14:30"> <app-profesores-lista [ordua]="'6'" [profesores]="profesores"/> </mat-tab>
</mat-tab-group>